<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- tailwind cdn -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body class="min-h-screen bg-gradient-to-b from-rose-50 via-orange-50 to-amber-50 text-stone-800">

    <th:block th:replace="layout/header :: header"></th:block>
    <th:block layout:fragment="main"></th:block>
    <th:block th:replace="layout/footer :: foot"></th:block>

</body>
</html>